@charset "utf-8";
:root {
    --bg-color: #{$bg-color-light};
    --text-color: #{$text-color-light};
    --link-color: #{$link-color-light};
    --meta-color: #{$meta-color-light};
    --border-color: #{$border-color-light};
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #{$bg-color-dark};
        --text-color: #{$text-color-dark};
        --link-color: #{$link-color-dark};
        --meta-color: #{$meta-color-dark};
        --border-color: #{$border-color-dark};
    }
}
body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: var(--text-color);
    background-color: var(--bg-color);
}
p {
    text-align: justify;
    word-break: break-word;
}
a {
    color: var(--link-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    word-break: break-word;
}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid var(--border-color);
}
img {
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
th,
td {
    padding: 0.5rem;
    line-height: inherit;
}
th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid var(--border-color);
}
td {
    vertical-align: top;
    border-bottom: 1px solid var(--border-color);
}
pre {
    padding: 1.25rem;
    overflow-x: auto;
}
code {
    font-family: $mono-font-family;
    tab-size: 4;
}
hr {
    border: none;
    border-top: 2px solid var(--border-color);
}
